<!-- START HEADER -->
<div class="header " ng-class="{'transparent': is('app.maps.vector') || is('app.maps.google') }">
    <!-- START MOBILE CONTROLS -->
    <div class="container-fluid relative">
      <!-- LEFT SIDE -->
      <div class="pull-left full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="header-inner">
          <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a>
        </div>
        <!-- END ACTION BAR -->
      </div>
      <div class="pull-center hidden-md hidden-lg">
        <div class="header-inner">
          <div class="brand inline">
            <img alt="Udacity" src="https://d125fmws0bore1.cloudfront.net/assets/svgs/logo-udacity-mark-e55958b7fd6d392c1e343b02a9e045cb669c33cfa1bb772bba40897a0f2b482d.svg" width="78" height="22">
          </div>
        </div>
      </div>
      <!-- RIGHT SIDE -->
    </div>
    <!-- END MOBILE CONTROLS -->
    <div class=" pull-left sm-table hidden-xs hidden-sm">
        <div class="header-inner">
            <div class="brand inline">
              <img alt="Udacity" src="https://d125fmws0bore1.cloudfront.net/assets/svgs/logo-udacity-mark-e55958b7fd6d392c1e343b02a9e045cb669c33cfa1bb772bba40897a0f2b482d.svg" width="78" height="22">
            </div>
        </div>
    </div>
</div>
<!-- END HEADER -->
