<nav class="page-sidebar" data-pages="sidebar" pg-sidebar>
  <div class="sidebar-overlay-slide from-top" id="appMenu">
    <div class="row">
    </div>

  </div>
  <div class="sidebar-header">
      <img alt="Udacity" src="https://d125fmws0bore1.cloudfront.net/assets/svgs/logo-udacity-mark-e55958b7fd6d392c1e343b02a9e045cb669c33cfa1bb772bba40897a0f2b482d.svg" width="78" height="22">

      <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
      </button>
      <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
      </button>
    </div>
  </div>
  <div class="sidebar-menu">
    <ul class="menu-items">
      <li class="m-t-30 open" ui-sref-active="active">
        <a ui-sref="app.dashboard" class="detailed">
          <span class="title">Dashboard</span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
      </li>
      <li class="" ui-sref-active="active">
        <a ui-sref="app.data" class="detailed">
          <span class="title">Issues</span>
          <span class="details">1000 Issues</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-table" aria-hidden="true"></i></span>
      </li>
      <li class="" ui-sref-active="active">
        <a ui-sref="app.metrics" class="detailed">
          <span class="title">key Metrics</span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</nav>
