<div class="container-fluid padding-25 sm-padding-10">

  <div class="row">
        <div class="col-xs-12 m-b-10">
            <div class="widget-13 panel no-border  no-margin widget-loader-circle" pg-portlet progress="circle">
                <div class="container-sm-height no-overflow">
                    <div class="row-sm-height">
                        <div class="col-sm-7 col-lg-8 col-xlg-9 col-sm-height col-top no-padding relative">
                            <!-- <div id="mapplic" class="bg-success widget-13-map" ui-jq="mapplic" ui-options="vm.map_options">
                            </div> -->
                            <div id="mapid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
