<div class="container-fluid padding-25 sm-padding-10">

  <md-toolbar class="md-table-toolbar md-default bk-trans">
    <div class="md-toolbar-tools">
      <div class="input-group col-xs-12 col-md-6">
        <input type="text" class="form-control" placeholder="Are you looking for a specific Issue?" ng-model="vm.filter.search">
        <span class="input-group-addon primary">
          <i class="fa fa-filter"></i>
        </span>
      </div>
    </div>
  </md-toolbar>

  <md-table-container>
    <table data-md-table md-progress="vm.promise">
      <thead md-head data-md-order="vm.query.order" md-on-reorder="vm.onReorder">
        <tr md-row>
          <th md-column md:order:by="name"><span>Name</span></th>
          <th md-column md:order:by="email"><span>Email</span></th>
          <th md-column md:order:by="description"><span>Description</span></th>
          <th md-column md:order:by="employee"><span>Employee</span></th>
          <th md-column md:order:by="status"><span>Status</span></th>
          <th md-column md:order:by="submission"><span>Submited</span></th>
          <th md-column><span>Closed</span></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row data-ng-repeat="issue in vm.issues | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page - 1) * vm.query.limit">
          <td md-cell>{{issue.name}}</td>
          <td md-cell>{{issue.email}}</td>
          <td md-cell>{{issue.description}}</td>
          <td md-cell>{{issue.employee}}</td>
          <td md-cell>
            <span ng-if="issue.status">Closed</span>
            <span ng-if="!issue.status">Open</span>
          </td>
          <td md-cell>{{issue.submission}}</td>
          <td md-cell>
            <span ng-if="issue.status">{{issue.closed}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <data-md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.issues.length}}" md-on-paginate="vm.onPaginate"></data-md-table-pagination>
</div>
