<div class="container-fluid container-fixed-lg bg-white">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Issues</span>
    </div>
  </md-toolbar>

  <!-- exact table from live demo -->
  <md-table-container>
  <table md-table md-progress="promise">
    <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column md-order-by="name"><span>Name</span></th>
        <th md-column md-numeric md-order-by="email"><span>Email</span></th>
        <th md-column md-numeric>Description</th>
        <th md-column md-numeric>Employee</th>
        <th md-column md-numeric>Status</th>
        <th md-column md-numeric>Submission</th>
        <th md-column md-numeric>Close</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="issue in vm.issues">
        <td md-cell>{{issue.name}}</td>
        <td md-cell>{{issue.email}}</td>
        <td md-cell>{{issue.description}}</td>
        <td md-cell>{{issue.employee}}</td>
        <td md-cell>
          <span ng-if="issue.status">Open</span>
          <span ng-if="!issue.status">Closed</span>
        </td>
        <td md-cell>{{issue.submission}}</td>
        <td md-cell>
          <span ng-if="!issue.status">{{issue.closed}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  </md-table-container>

  <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{vm.issues.length}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
</div>
